*{
    box-sizing: border-box;
    position: relative;
}
body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

/* This is for Pokemon heading*/

h1{
    text-align: right;
    font-size: 38px;

    
}
/* This for background image */
.bg-image{
    padding: 28em;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1{
    background-image: url('background/background1.jpeg');
    background-attachment: fixed;
    
}
.img2{
    background-image: url('background/background2.jpeg');
    background-attachment: fixed;
}
.img3{
    background-image: url('background/background3.jpeg');
    background-attachment: fixed;
}

.search-image{
    background-image: url('background/background4.jpeg');
    outline: 10px solid black;
    padding: 5em;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    margin: 0;
    background-attachment: fixed;
    text-align: center;
}

/* This is for search bar */
.name-search{
    width: 100%;
    max-width: 700px;
    background:rgba(43, 15, 199, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
    position: relative;
    top: -40px;
}
.name-search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 8px;
    font-size: 20px;
    color: rgb(146, 34, 34);
}

.name-search button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;

}
.name-search button img{
    width: 20px;
}


.number-search{
    width: 100%;
    max-width: 700px;
    background:rgba(43, 15, 199, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
    position: relative;
    top: -40px;
}
.number-search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 8px;
    font-size: 20px;
    color: rgb(146, 34, 34);
}

.number-search button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;

}
.number-search button img{
    width: 20px;
}
/* This is for pokemon link*/

.pokemonsBox{
    box-sizing: border-box;
    width: 1000px;
    height: 3000px;
    background-color: whitesmoke;
    padding: 100px;
    position: relative;
    top: -400px;
    left: -120px;
}


li{
    list-style-type: none;

    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5px,10px));
        grid-gap: 200px;
        margin: 0px;
}

.img-wrapper{
    position:relative;
    
    
}

.img-wrapper img{
    width: 150px;
    background-color: thistle;
    cursor: pointer;
    
}
.text{
    position: absolute;
    width: 150px;
    height: 50%;
    inset: 0;
    padding: 2px;
    background-color: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center; 
    align-items: center;
    opacity: 0;
    
}

.img-wrapper:hover .text{
    opacity: 1;
    
}

.img-wrapper img, .text{
    transition: 200ms ease-in-out;
}

.img-wrapper:hover img{
    filter: blur(5px);
    transform:scale(1.1);
    
}

.num{
    color: salmon;
}

.name{
    color: black;
}
